/* SCSS HEX */
$primary-green: #8fa9a6;
$secondary-green: #c2d8ca;
$dark-green: #043d34;
$warm: #cb8589;
$grey: #4d7771;
$white: #ded4c9;
$black: #1e2433;

$lighten: 2;
$darken: 25;

$colors: (
  primary-green: (
    base: $primary-green,
    light: lighten($primary-green, $lighten),
    dark: darken($primary-green, $darken),
  ),
  secondary-green: (
    base: $secondary-green,
    light: lighten($secondary-green, $lighten),
    dark: darken($secondary-green, $darken),
  ),
  dark-green: (
    base: $dark-green,
    light: lighten($dark-green, $lighten),
    dark: darken($dark-green, $darken),
  ),
  warm: (
    base: $warm,
    light: lighten($warm, $lighten),
    dark: darken($warm, $darken),
  ),
  grey: (
    base: $grey,
    light: lighten($grey, $lighten),
    dark: darken($grey, $darken),
  ),
  white: (
    base: $white,
    light: lighten($white, $lighten),
    dark: darken($white, $darken),
  ),
  black: (
    base: $black,
    light: lighten($black, $lighten),
    dark: darken($black, $darken),
  ),
  neutral: (
    base: #69777f,
    light: #b2cad8,
    dark: $black,
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}

:export {
  warm: clr(warm);
  white: clr(white);
  dark-green: clr(dark-green);
}
