@import "styles/colors";

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin: 16px 0px;
}

.contact-left {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}

.download-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 10px 20px;
  font-size: 36px;
  border-radius: 3px;
  border: 1px solid clr(warm);
}

.download-link-container svg {
  margin-right: 4px;
}

.download-link-container:hover {
  opacity: 0.7;
}

.download-link {
  text-decoration: none;
  color: clr(warm);
}

@media only screen and (max-width: 720px) {
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
  }
}
