@import "styles/colors";

.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-div {
  padding: 6px;
  cursor: pointer;
  margin: 6px;
  filter: invert(96%) sepia(9%) saturate(530%) hue-rotate(322deg)
    brightness(90%) contrast(92%);
}

.social-icon {
  height: 60px;
}

.social-icon:hover {
  opacity: 0.6;
}

.icon-and-copy-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.copy-box-div {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 130px;
}

.copy-message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid clr(warm);
}

.copy-message-box:empty {
  display: none;
}

.copied-message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid clr(warm);
  font-size: 14px;
}

#scss
.main-class {
   opacity: 1;
   transition: 1s;
}
.hide-classname {
   opacity: 0;
   transition: 1s;
}

@media only screen and (max-width: 720px) {
  .social-icon {
    height: 32px;
  }

  .copy-box-div {
      margin-top: 20px;
    height: 25px;
    width: 100px;
  }

  .copy-message-box {
    font-size: 10px;
  }

  .copied-message-box {
    font-size: 10px;
  }
}
