@import "styles/colors";
@import "styles/space";

html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
    margin-top: $margin-top-mobile;
  }
}
