@import "styles/colors";

.about-top {
  display: flex;
  align-items: right;
  flex-direction: column;
  margin-top: 70px;
}

.about-info {
  font-size: 70px;
}

.info-name {
  color: clr(primary-green);
  font-size: 80px;
  font-weight: 900;
}

@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-info {
    font-size: 30px;
  }

  .info-name {
    font-size: 36px;
  }
}
