@import "styles/colors";

.body {
  padding: 12px;
  padding-bottom: 36px;
}

.section-list {
  list-style-type: lower-greek;
}

.section-item::marker {
  color: clr(warm);
  font-size: 32px;
  font-family: "Fira Code", monospace;
}

.section-title {
  font-size: 32px;
  font-family: "Fira Code", monospace;
}

.section-experience {
  height: 350px;
}

@media only screen and (max-width: 720px) {
  .section-item::marker {
    font-size: 22px;
  }
  .section-title {
    font-size: 22px;
  }
}
